<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
</head>
<body>
<p th:text="'안녕하세요. ' + ${username}" >안녕하세요. 손님</p>
<canvas id="myChart" width="400" height="400"></canvas>
<script th:inline="javascript">
const ctx = document.getElementById('myChart');
var arr = [[${level}]]
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIA', 'RUBY'],
        datasets: [{
            label: '# of Votes',
            data: arr,

            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
</body>
</html>
