<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
</head>
<body>
<p>
    <a href = "/">home</a>
    <a th:href="@{'/user/'+${username}}">level</a>
    <a th:href="@{'/user/'+${username}+'/exp'}">exp</a>

</p>

<div class="chart-container" style="position: relative; height:50vh; width:40vw">

<canvas id="myChart"></canvas>
<script th:inline="javascript">
const ctx = document.getElementById('myChart');
var arr = [[${exp}]]
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIA', 'RUBY'],
        datasets: [{
            label: '# of Votes',
            data: arr,

            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
</div>

</body>
</html>
